<div class= 'container'>
  <div class = 'child'>
    <%= image_tag 'nigirizushi_moriawase', width: '200', height: '200' %>
    <br>
    <h1>寿司、何にする？</h1>
    <br>
    <div>
      <%= link_to sushi_path do %>
        <%= image_tag 'taberu' %>
      <% end %>
    </div>
  </div>
</div>