<div class= 'container'>
  <div class = 'child'>
    <%= image_tag 'nigirizushi_moriawase.png', width: '200', height: '200' %>
    <br>
    <h1>寿司るーれっと</h1>
    <br>
    <div>
      <%= link_to '回してみる', sushi_path, class: "btn" %>
    </div>
  </div>
</div>