.container {
  font-family: arial;
  /* 水平・垂直方向の中央揃え */
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 400px;
  height: 400px;
}

.p {
  display: flex;
  justify-content: center;
  align-items: center;
}